@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: Darker Grotesque,sans-serif!important;
    background-color: #f5f5f5!important;
}

.upper-header{
    column-gap: 3rem;
    a{
        text-decoration: none;
        color: #c9c9c9;
        font-size: 18px;
        font-weight: 500;
        &:hover{
            color: #fff;
        }
    }
}
@media (max-width: 412px){
    .upper-header{
        flex-direction: column;
        column-gap: 1.5rem !important;
    }
}
.main-header{
    
    img{
        width: 115px;
    }
    a{
        text-decoration: none;
        color: #000000;
        font-size: 19px;
        font-weight: 700;
        position: relative;
    }
    .menu{
        column-gap: 4.5rem;
        a:hover{
            color: #000000;
        }
        a:before{
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: -5px;
            transition: all 0.2s ease-in-out;
            background-color: #E8520F;
        }
        a:hover::before{
            width: 100%;
        }
    }
    .button{
        .login:hover{
            color: #E8520F;
        }
        .btn{
            padding: 0.7rem 1.8rem;
            background-color: #E8520F;
            &:hover{
                background-color: #ce4405;
            }
        }
    }

    i{
        display: none;
        color: #E8520F;
        font-size: 1.7rem;
    }
}
.mobile-menu{
    display: none;
    background-color: #f5f5f5!important;
    top: 0;
    width: 40%;
    z-index: 9999;
    a{
        text-decoration: none;
        color: #000000;
        font-size: 19px;
        font-weight: 700;
        position: relative;
    }
    .menu{
        a:hover{
            color: #000000;
        }
        a:before{
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: -5px;
            transition: all 0.2s ease-in-out;
            background-color: #E8520F;
        }
        a:hover::before{
            width: 100%;
        }
    }
    .button{
        .login:hover{
            color: #E8520F;
        }
        .btn{
            padding: 0.7rem 1.8rem;
            background-color: #E8520F;
            &:hover{
                background-color: #ce4405;
            }
        }
    }
}
@media (max-width: 992px){
    .main-header{
        .menu, .button{
            display: none!important;
        }
        i{
            display: block;
        }
    }
}

.hero-section{
    padding: 59px 0px 34px 0px;
    margin: 0px 42px;
    background-color: #fbf6f0;
    span{
        font-weight: 600;
        font-size: 1.3rem;
    }
    h1{
        font-weight: 900;
        font-size: 5.5rem;
        color: #000000;
        margin: -20px 0px -4px 0px ;
    }
    p{
        font-weight: 500;
        font-size: 1.3rem;
    }
    .button{
        .btn{
            padding: 0.7rem 1.8rem;
            font-size: 19px;
            font-weight: 700;
        }
        .buy{
            background-color: #E8520F;
            &:hover{
                background-color: #ce4405;
            }
        }
        .contact:hover{
            background-color: #000000;
            color: #fff!important;
        }
    }
        img{
            width: 95%;
            // width: 520px;
            // height: 521px;
        }
}
@media (max-width: 768px){
    .hero-section{
        h1{
            font-size: 3.5rem!important;
        }
    }
}
@media (max-width:576px){
    .hero-section{
        h1{
            padding-top: 1rem!important;
            font-size: 2.5rem!important;
        }
    }
}
@media (max-width: 412px){
    .hero-section{
        .btn{
            font-size: 19px!important;
            padding: 0.5rem 1rem!important;
        }
    }
}
.brand{
    margin: 59px 0px;
}
.service{
    margin: 7rem 0;
    .heading{
        p{
            font-weight: 700;
            color:#E8520F;
            font-size: 1rem;
            letter-spacing: 0.4rem;
        }
        h1{
            font-size: 3.2rem;
            font-weight: 700;
        }
    }
    .card{
        background-color: transparent!important;
        transition: all 0.4s ease 0s;
        &:hover{
            background-color: #fff!important;
            border-color: #ffffff!important;
            box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.2);
        }
        i{
            display: block;
            font-size: 3rem;
            margin-bottom: 2.2rem;
        }
        h1{
            font-weight: 700;
        }
        p{
            font-weight: 500;
            font-size: 1.3rem;
        }
    }
}
.detail-section{
    padding: 3rem 0rem 9rem 0rem;
    img{
        // width: 491px;
        width: 100%;
    }
    span{
        font-weight: 700;
        color:#E8520F;
        font-size: 1rem;
        letter-spacing: 0.4rem;
    }
    h1{
        font-weight: 700;
        font-size: 3.2rem;
        color: #000000;
    }
    p{
        font-weight: 500;
        font-size: 1.3rem;
    }
    .read-more{
        padding: 0.7rem 1.8rem;
        font-size: 19px;
        font-weight: 700;
        background-color: #E8520F;
        &:hover{
            background-color: #ce4405;
        }
     }
}

.newsletter{

    .container{
        background-color: #fbf6f0;
        position: relative!important;
        z-index: 99;
    }
    h1{
        font-weight: 700;
        font-size: 3.2rem;
        color: #000000;
    }
    p{
        font-weight: 500;
        font-size: 1.3rem;
    }
    .subscribe{
        input{
            background-color: transparent;
            border: thin solid #c9c9c9;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
            width: 400px;
            font-size: 1.2rem;
            font-weight: 600;
            border-right: none;
            outline: none;
        }
        button{
            background-color: #E8520F;
            border: thin solid #E8520F;
            font-size: 1.2rem;
            color: #fff;
            font-weight: 600;
            border-bottom-right-radius: 1rem;
            border-top-right-radius: 1rem;
            &:hover{
                background-color: #ce4405;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .subscribe{
        input{
            width: 250px!important;
        }
    }
}
@media  screen and (max-width:576px){
    .subscribe{
        input{
            width: 160px!important;
        }
    }
}
footer{
    position: relative;
    &::before{
        content: "";
        background-color: #000000;
        position: absolute;
        height: 90px;
        width: 100%;
        z-index: -1;
        top: -80px;
    }
    background-color: #000000;
    img{
        width: 140px;
    }
    p, span{
        color: #c9c9c9;
        font-size: 18px;
        font-weight: 600;
    }
    h1{
        color:#ffffff;
        font-size: 2rem;
        font-weight: 600;
    }
    .menu{
        i{
            font-size: 22px;
        }
        a{
            text-decoration: none;
            color: #c9c9c9;
            font-size: 18px;
            font-weight: 600;
            &:hover{
                color: #fff;
                span{
                    color: #fff;
                }
            }
        }
        .em{
            word-break: break-all;
        }
    }
    .lower-footer{
        a{
            text-decoration: none;
            color: #ffffff;
            font-weight: 600;
            padding: 0px 12px;
            &:hover{
                color: #E8520F;
            }
        }
    }

}

