header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
    .navigation{
        @include links(gainsboro, #fff);
        a{
            font-weight: 500;
        }
        .menu ul{
            li {
                padding: 2rem 1.5rem;
                .resume-btn{
                    color: $primary-color;
                    border: 3px solid $primary-color;
                    &:hover{
                        color: $primary-hover;
                        border-color: $primary-hover;
                    }
                }
            }
        }
        .menu.open{
            ul{
                height: 17.5rem;
            }
        }
        .menu-btn{
            display: none;
            background-color: transparent;
            font-size: 0.8rem;
            border: 1px solid $primary-color;
        }
    }
}
header.fadebg{
    a{
        color: black;
        &:hover{
            color: $primary-color;
        }
    }
    background-color: #fff;
}